# Assignment 3 - More Pandas
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the pandas documentation to find functions or methods you might not have used yet, or ask questions on Stack Overflow and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.
Question 1
Load the energy data from the file Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of energy.
Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable's]
Convert the energy supply and the energy supply per capita to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.
Rename the following list of countries (for use in later questions):
"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"
There are also several countries with parenthesis in their name. Be sure to remove these, e.g. 'Bolivia (Plurinational State of)' should be 'Bolivia'.

Next, load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.
Make sure to skip the header, and rename the following list of countries:
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
The index of this DataFrame should be the name of the country.
This function should return a DataFrame with 20 columns and 15 entries.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
energy = pd.read_excel('Desktop/Energy Indicators (1).xls')

In [6]:
energy1 = energy.iloc[15:]
e1 = energy1.loc[15:,['Unnamed: 1','Environmental Indicators: Energy','Unnamed: 3','Unnamed: 4','Unnamed: 5']]
e1 = energy1.rename(columns={"Environmental Indicators: Energy": "Country", "Unnamed: 3": "Energy Supply","Unnamed: 4":"Energy Supply Per Capita","Unnamed: 5":"Percentage"})
Energy = e1.loc[16:,['Country','Energy Supply','Energy Supply Per Capita','Percentage']]
Energy.set_index('Country')
Energy['Energy Supply'] = Energy['Energy Supply'] * 10**6
energy2 = Energy.set_index('Country')
energy3=energy2.iloc[0:227]
energy4 = energy3.rename(index = {"Republic of Korea": "South Korea", "United States of America20": "United States", "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"})
#e8=energy4.reset_index(drop='False')
energy4

,Energy Supply,Energy Supply Per Capita,Percentage
Country,,,
Afghanistan,321000000,10,78.6693
Albania,102000000,35,100
Algeria,1959000000,51,0.55101
American Samoa,.................................................,...,0.641026
Andorra,9000000,121,88.6957
Angola,642000000,27,70.9091
Anguilla,2000000,136,0
Antigua and Barbuda,8000000,84,0
Argentina,3378000000,79,24.0645
Armenia,143000000,48,28.2361
Aruba,12000000,120,14.8707
Australia1,5386000000,231,11.8108
Austria,1391000000,164,72.4528
Azerbaijan,567000000,60,6.38434
Bahamas,45000000,118,0
Bahrain,574000000,425,0
Bangladesh,1625000000,10,1.96633
Barbados,19000000,69,0
Belarus,1142000000,120,0.463389
Belgium,2338000000,210,9.95974
Belize,13000000,39,64.69
Benin,170000000,16,0
Bermuda,6000000,88,0
Bhutan,63000000,83,100
Bolivia (Plurinational State of),336000000,32,31.4771
"Bonaire, Sint Eustatius and Saba",5000000,213,0
Bosnia and Herzegovina,266000000,70,41.4647
Botswana,86000000,39,0.131406
Brazil,12149000000,59,69.648
British Virgin Islands,2000000,85,0
...,...,...,...
Switzerland17,1113000000,136,57.7455
Syrian Arab Republic,542000000,28,11.5683
Tajikistan,106000000,13,99.7429
Thailand,5336000000,79,4.30519
The former Yugoslav Republic of Macedonia,117000000,56,26.1405
Timor-Leste,7000000,6,0
Togo,134000000,19,80.1802
Tonga,3000000,28,0
Trinidad and Tobago,824000000,611,0
Tunisia,430000000,39,3.49255
Turkey,4897000000,64,28.5367
Turkmenistan,1102000000,210,0
Turks and Caicos Islands,3000000,85,0
Tuvalu,.................................................,...,0
Uganda,452000000,12,68.0182
Ukraine18,4844000000,107,8.06731
United Arab Emirates,2710000000,300,0
United Kingdom,7920000000,124,10.6005
United Republic of Tanzania,994000000,20,31.0728
United States,90838000000,286,11.571
United States Virgin Islands,.................................................,...,0
Uruguay,196000000,58,71.605
Uzbekistan,1798000000,62,21.3284
Vanuatu,3000000,10,14.7059
Venezuela (Bolivarian Republic of),2871000000,95,67.8345
Viet Nam,2554000000,28,45.3215
Wallis and Futuna Islands,0,26,0
Yemen,344000000,13,0
Zambia,400000000,26,99.7147
Zimbabwe,480000000,32,52.5361

In [13]:
A = pd.read_csv('Desktop/world_bank1.csv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 63