In [ ]:
import pandas as pd

In [ ]:
df_train = pd.read_csv("Desktop/Projects/training.csv")

In [3]:
df_train.head()

,left_eye_center_x,left_eye_center_y,right_eye_center_x,right_eye_center_y,left_eye_inner_corner_x,left_eye_inner_corner_y,left_eye_outer_corner_x,left_eye_outer_corner_y,right_eye_inner_corner_x,right_eye_inner_corner_y,...,nose_tip_y,mouth_left_corner_x,mouth_left_corner_y,mouth_right_corner_x,mouth_right_corner_y,mouth_center_top_lip_x,mouth_center_top_lip_y,mouth_center_bottom_lip_x,mouth_center_bottom_lip_y,Image
0,66.033564,39.002274,30.227008,36.421678,59.582075,39.647423,73.130346,39.969997,36.356571,37.389402,...,57.066803,61.195308,79.970165,28.614496,77.388992,43.312602,72.935459,43.130707,84.485774,238 236 237 238 240 240 239 241 241 243 240 23...
1,64.332936,34.970077,29.949277,33.448715,58.856170,35.274349,70.722723,36.187166,36.034723,34.361532,...,55.660936,56.421447,76.352000,35.122383,76.047660,46.684596,70.266553,45.467915,85.480170,219 215 204 196 204 211 212 200 180 168 178 19...
2,65.057053,34.909642,30.903789,34.909642,59.412000,36.320968,70.984421,36.320968,37.678105,36.320968,...,53.538947,60.822947,73.014316,33.726316,72.732000,47.274947,70.191789,47.274947,78.659368,144 142 159 180 188 188 184 180 167 132 84 59 ...
3,65.225739,37.261774,32.023096,37.261774,60.003339,39.127179,72.314713,38.380967,37.618643,38.754115,...,54.166539,65.598887,72.703722,37.245496,74.195478,50.303165,70.091687,51.561183,78.268383,193 192 193 194 194 194 193 192 168 111 50 12 ...
4,66.725301,39.621261,32.244810,38.042032,58.565890,39.621261,72.515926,39.884466,36.982380,39.094852,...,64.889521,60.671411,77.523239,31.191755,76.997301,44.962748,73.707387,44.227141,86.871166,147 148 160 196 215 214 216 217 219 220 206 18...

In [4]:
df_test=pd.read_csv("Desktop/Projects/test.csv")

In [5]:
df_test.head()

   ImageId                                              Image
0        1  182 183 182 182 180 180 176 169 156 137 124 10...
1        2  76 87 81 72 65 59 64 76 69 42 31 38 49 58 58 4...
2        3  177 176 174 170 169 169 168 166 166 166 161 14...
3        4  176 174 174 175 174 174 176 176 175 171 165 15...
4        5  50 47 44 101 144 149 120 58 48 42 35 35 37 39 ...

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt

In [7]:
import numpy as np

In [8]:
#m= []
#for X in df_train['Image']:
    #X = np.array(list(map(int,list(str.split(X)))))
    #X=X.reshape(96,96)
    #m.append(X)
df_train_copy=df_train.copy()

In [9]:
for i in range(len(df_train_copy['Image'])):
    X = np.array(list(map(int,list(str.split(df_train_copy['Image'][i])))))
    df_train_copy['Image'][i]=X.reshape(96,96)

C:\Users\Prasoon\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
type(df_train_copy['Image'][0])

numpy.ndarray

In [11]:
df_test_copy = df_test.copy()

In [12]:
for i in range(len(df_test_copy['Image'])):
    X = np.array(list(map(int,list(str.split(df_test_copy['Image'][i])))))
    df_test_copy['Image'][i]=X.reshape(96,96)

C:\Users\Prasoon\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
df_train_copy.head()

,left_eye_center_x,left_eye_center_y,right_eye_center_x,right_eye_center_y,left_eye_inner_corner_x,left_eye_inner_corner_y,left_eye_outer_corner_x,left_eye_outer_corner_y,right_eye_inner_corner_x,right_eye_inner_corner_y,...,nose_tip_y,mouth_left_corner_x,mouth_left_corner_y,mouth_right_corner_x,mouth_right_corner_y,mouth_center_top_lip_x,mouth_center_top_lip_y,mouth_center_bottom_lip_x,mouth_center_bottom_lip_y,Image
0,66.033564,39.002274,30.227008,36.421678,59.582075,39.647423,73.130346,39.969997,36.356571,37.389402,...,57.066803,61.195308,79.970165,28.614496,77.388992,43.312602,72.935459,43.130707,84.485774,"[[238, 236, 237, 238, 240, 240, 239, 241, 241,..."
1,64.332936,34.970077,29.949277,33.448715,58.856170,35.274349,70.722723,36.187166,36.034723,34.361532,...,55.660936,56.421447,76.352000,35.122383,76.047660,46.684596,70.266553,45.467915,85.480170,"[[219, 215, 204, 196, 204, 211, 212, 200, 180,..."
2,65.057053,34.909642,30.903789,34.909642,59.412000,36.320968,70.984421,36.320968,37.678105,36.320968,...,53.538947,60.822947,73.014316,33.726316,72.732000,47.274947,70.191789,47.274947,78.659368,"[[144, 142, 159, 180, 188, 188, 184, 180, 167,..."
3,65.225739,37.261774,32.023096,37.261774,60.003339,39.127179,72.314713,38.380967,37.618643,38.754115,...,54.166539,65.598887,72.703722,37.245496,74.195478,50.303165,70.091687,51.561183,78.268383,"[[193, 192, 193, 194, 194, 194, 193, 192, 168,..."
4,66.725301,39.621261,32.244810,38.042032,58.565890,39.621261,72.515926,39.884466,36.982380,39.094852,...,64.889521,60.671411,77.523239,31.191755,76.997301,44.962748,73.707387,44.227141,86.871166,"[[147, 148, 160, 196, 215, 214, 216, 217, 219,..."

In [14]:
x = 0
for i in df_train_copy['Image']:
    if (df_test_copy['Image'][1]==i).all():
        x = 1
print(x)

0

In [15]:
df_test_copy['Image'][1].shape

(96, 96)

In [16]:
df_train_copy['Image'][1].shape

(96, 96)

In [17]:
df_train_all_x=df_train_copy.loc[:,:'mouth_center_bottom_lip_y']

In [18]:
df_train_y = df_train_copy.loc[:,['Image']]

In [19]:
df_train_y.head()

                                               Image
0  [[238, 236, 237, 238, 240, 240, 239, 241, 241,...
1  [[219, 215, 204, 196, 204, 211, 212, 200, 180,...
2  [[144, 142, 159, 180, 188, 188, 184, 180, 167,...
3  [[193, 192, 193, 194, 194, 194, 193, 192, 168,...
4  [[147, 148, 160, 196, 215, 214, 216, 217, 219,...

In [20]:
X_train = df_train_y/255

In [21]:
from keras import layers

C:\Users\Prasoon\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [22]:
from keras.layers import Input,Add,Dense,Activation,ZeroPadding2D,BatchNormalization,Flatten,Conv2D,AveragePooling2D,MaxPooling2D,GlobalMaxPooling2D

In [23]:
from keras.models import Model,load_model

In [24]:
X_train_new = np.array(list(X_train['Image']))

In [25]:
X_train_new = X_train_new.reshape(7049,96,96,1)

In [26]:
df_train_y.head()

                                               Image
0  [[238, 236, 237, 238, 240, 240, 239, 241, 241,...
1  [[219, 215, 204, 196, 204, 211, 212, 200, 180,...
2  [[144, 142, 159, 180, 188, 188, 184, 180, 167,...
3  [[193, 192, 193, 194, 194, 194, 193, 192, 168,...
4  [[147, 148, 160, 196, 215, 214, 216, 217, 219,...

In [27]:
dict1 = {}

#num=0
for i in df_train_all_x.columns:
    list1=[]
    for j in range(7049):
        if (np.isnan(df_train_all_x[i][j]))==True:
                #dict1[str(i)+ ' entry '+str(num)] = 
                list1.append(j)
        dict1[str(i)] = list1

In [28]:
df_train = df_train_all_x.copy()

In [29]:
list_arr=[]
for key in df_train_all_x.columns:
    list2 = []
    for num1 in range(7049):
        if (key in dict1) == True:
            if (num1 in dict1[key]) == False:
                list2.append(df_train_all_x[key][num1])
        else:
             list2.append(df_train_all_x[key][num1])
            
    list_arr.append(np.array(list2))

In [60]:
target_list = []
for key1 in df_train_all_x.columns:
    temp_list = dict1[key1]
    des_index = [i for i in df_train_y.index if i not in temp_list]
    temp_df = df_train_y.iloc[des_index]
    target_list.append(np.array(temp_df['Image']))

In [ ]:
for train_iter in range(len(target_list)):
    for j in range 
    temp_arr = target_list[train_iter]
    print(temp_arr[].shape)

In [ ]:
for j in range(len(target_list)):
    target_list[j] = np.stack(target_list[j])
    target_list[j]= target_list[j].reshape(len(target_list[j]),96,96,1)

In [50]:
def model(input_shape):
    X_input = Input(input_shape)
    X = ZeroPadding2D((2,2))(X_input)
    X = Conv2D(5,(5,5),strides = (1,1),name = 'conv0')(X)
    X = BatchNormalization(axis=3,name='bn0')(X)
    X = Activation('relu')(X)
    X =MaxPooling2D((2,2),name='max_pool')(X)
    X = Flatten()(X)
    X = Dense(1,activation='linear',name='f_c')(X)
    model = Model(inputs = X_input,output=X,name='model')
    return model

In [56]:
model_list = []
for model_iter in range(30):
    model_temp = model(X_train.shape[1:])
    model_list.append(model_temp)

C:\Users\Prasoon\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=Tensor("in..., name="model", outputs=Tensor("f_...)`
  # Remove the CWD from sys.path while we load stuff.

In [57]:
for model_iter_comp in range(30):
    model_list[model_iter_comp].compile('adam','binary_crossentropy',metrics=['accuracy'])

In [ ]:
for model_iter_fit in range(30):
    model_list[model_iter_fit].fit(target_list[model_iter_fit],list_arr[model_iter_fit],epochs=50,batch_size=40)